*,
*::after,
*::before {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif, sans;
}

body {
  display: table;
  background-color: #35302a;
  font-size: 1.3rem;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}

header .top-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 2rem;
  margin: 0;
  z-index: 100;
  float: left;
  height: 100%;
  width: 30%;
}

header h1 {
  font-weight: 700;
  color: #f47321;
  text-shadow: -1px -1px 0 #000, 1px -1px 1px #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-family: fancyText;
  margin-left: 1rem;
  font-size: 4vw;
}

header .side-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: black;
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 300vh;
  overflow: hidden;
  z-index: 9999;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}

header .side-nav button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 25px;
  height: 25px;
  margin: 1rem;
  padding: 2rem;
  font-size: 4rem;
  border: #f47321 solid;
  color: #f47321;
  background: none;
}

header .side-nav button:hover {
  background-color: gray;
}

header .side-nav .side-nav__link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

header .side-nav .side-nav__link-container a {
  cursor: pointer;
  text-decoration: none;
  color: #f47321;
  font-weight: 700;
  font-size: 20px;
  padding: 0px 20px;
  border: none;
  background: none;
  font-size: 80%;
  margin-top: 2rem;
}

header .side-nav .side-nav__link-container a:hover {
  opacity: 70%;
}

button.hamburger {
  float: right;
  margin: 1rem 2rem;
  width: 50px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background: none;
  border: none;
  z-index: 2;
  display: none;
}

button.hamburger span {
  width: 50px;
  height: 4px;
  background-color: #f47321;
}

button.hamburger span:not(:last-child) {
  margin-bottom: 10px;
}

div.nav-container {
  position: absolute;
  min-height: 5rem;
  width: 100%;
  z-index: 2;
  top: 0;
  left: 0;
}

div.nav-container::before {
  content: '';
  position: absolute;
  z-index: 1;
  padding: 1.5rem;
  background: #585555;
  width: 100%;
}

navbar {
  display: block;
  margin: 12px 10px;
  z-index: 1000;
  float: right !important;
  position: relative;
  margin-top: 5rem;
}

navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

navbar ul li a,
navbar ul li button {
  cursor: pointer;
  text-decoration: none;
  color: #f47321;
  font-weight: 700;
  font-size: 20px;
  padding: 0px 20px;
  border: none;
  background: none;
}

navbar li a:hover,
navbar button:hover {
  opacity: 70%;
  color: white;
}

navbar li:not(:last-child),
.drop-down {
  border-right: 1px solid white;
}

.drop-down-container {
  position: absolute;
}

.drop-down-container .drop-down-list {
  position: relative;
  right: 25%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #585555;
  margin-top: 1rem;
  border-radius: 1rem;
  display: none;
  overflow: hidden;
}

.drop-down-container .drop-down-list a {
  padding: 1.25rem;
  text-decoration: none;
  color: #f47321;
  font-weight: 700;
  font-size: 20px;
}

.drop-down-container .drop-down-list a:not(:last-child) {
  border-bottom: 1px solid black;
}

.drop-down-container .drop-down-list a:hover {
  background: gray;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

main {
  color: white;
  text-align: center;
}

main div.carousel {
  position: relative;
  background: #eee;
  width: 100%;
  height: auto;
  z-index: -1;
}

main div.carousel::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 243px;
  z-index: 1;
  background: url(https://bwr-production.s3.amazonaws.com/assets/slider-gradient-5e963f45eef6f353096413ea259890a07e9119619f643fc073418759199c78c4.png) repeat-x;
}

main div.carousel .carousel__track {
  position: relative;
  width: 100%;
  height: 80vh;
  padding: 0;
}

main div.carousel .carousel__track .carousel__slide {
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  -webkit-transition: ease-in 1s;
  transition: ease-in 1s;
}

main div.carousel .carousel__track .carousel__slide .carousel__text {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  color: floralwhite;
  font-weight: 700;
}

main div.carousel .carousel__track .carousel__slide .carousel__text h1 {
  text-shadow: -2px -2px 0 #000, 2px -2px 2px #000, -2px 2px 0 #000, 2px 2px 0 #000;
  margin-bottom: 1rem;
}

main div.carousel .carousel__track .carousel__slide .carousel__text p {
  text-shadow: -1px -1px 0 #000, 1px -1px 1px #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

main div.carousel .carousel__track .carousel__slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

main div.carousel .carousel__nav {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 10%;
  left: 50%;
}

main div.carousel .carousel__nav .dot {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: white;
  -webkit-transition: ease-in 1s;
  transition: ease-in 1s;
  border: black solid 2px;
}

main div.carousel .carousel__nav .dot:not(:last-child) {
  margin-right: 10px;
}

main div.carousel .carousel__nav .dot:hover {
  cursor: pointer;
  background-color: red;
}

main h3 {
  font-size: 2rem;
}

main .menu-container {
  background-color: #35302A;
}

main .menu-container h3 {
  color: #f47321;
  font-weight: 700;
  margin: 2rem 0;
}

main .card-container {
  background-color: #35302A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
}

main .card-container .card {
  -webkit-box-flex: 33.33%;
      -ms-flex: 33.33%;
          flex: 33.33%;
  padding: 2rem;
}

main .card-container .card img {
  width: 100%;
  height: 500px;
}

.appetizer-img {
  background-image: url(Images/Appetizer.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
}

.steak-img {
  background-image: url(Images/Steak.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
}

.wine-img {
  background-image: url(Images/Wine-and-Spirits.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
}

.salad-img {
  background-image: url(Images/Salad.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
}

.sandwhich-img {
  background-image: url(Images/Burgers.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
}

.dessert-img {
  background-image: url(Images/Dessert.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
}

.card h3 {
  color: #eb6d1e;
  margin: 10px 0px;
}

main button {
  border-radius: 2rem;
  font-size: 2rem;
  cursor: pointer;
  padding: 1rem;
  margin-bottom: 2rem;
  background: black;
  font-weight: 700;
  color: #f47321;
  border-color: #585555;
  margin: 2rem auto;
}

main button:hover {
  background-color: #35302A;
}

.story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 800px;
}

.story img {
  max-width: 100%;
  margin-top: 100px;
}

.story .left,
.story .right {
  width: 100%;
}

.story .left {
  color: white;
  background-color: gray;
  background-image: url(Images/Logo3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.story .right {
  background-image: url(Images/Interior.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #35302A;
  padding: 6rem;
  color: white;
}

footer button {
  cursor: pointer;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  margin-bottom: 1rem;
}

footer ul li a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

footer ul li a:hover {
  color: #f47321;
}

footer img {
  width: 50px;
  height: 50px;
}

footer .top-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50%;
}

footer .logo {
  width: 180px;
  height: 180px;
  background: url(Images/logo5.png);
  background-position: center;
  background-size: cover;
  background-color: #d2cdcd;
  border-radius: 50%;
}

/* Helper */
.border-bottom {
  border-bottom: #35302A solid 2px;
}

.show {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.bg-dark {
  background: #585555 !important;
  border-bottom: solid #000 2px;
}

.hidden {
  display: none !important;
}

.shift-down {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

h1 {
  font-size: 4rem;
}

@font-face {
  font-family: fancyText;
  src: url(Fonts/SCRIPTIN.ttf);
}

@media only screen and (max-width: 1099px) {
  div.nav-container::before {
    content: none;
  }
  button.hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 999;
  }
  header navbar {
    display: none;
  }
  main .card-container {
    background-color: #35302A;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: left;
  }
  main .card-container .card {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    padding: 2rem;
  }
  main .card-container .card img {
    width: 100%;
    height: 500px;
  }
  .story {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .story img {
    width: 100%;
  }
  .story .left,
  .story .right {
    width: 100%;
    height: 1200px;
  }
}

@media only screen and (max-width: 700px) {
  header navbar {
    display: none;
  }
  div.nav-container {
    padding: 0;
  }
  header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
  }
  header .top-logo {
    top: 10px;
    left: 20px;
  }
  header .top-logo h1 {
    font-size: 8vw;
    margin-left: 1rem;
  }
  main .card-container {
    background-color: #35302A;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: left;
  }
  main .card-container .card {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    padding: 2rem;
  }
  main .card-container .card h3 {
    font-size: 1.5rem;
  }
  main .card-container .card img {
    width: 100%;
    height: 500px;
  }
  main div.carousel .carousel__track {
    position: relative;
    width: 100%;
    height: 500px;
    padding: 0;
  }
  main div.carousel .carousel__nav {
    display: none;
  }
  .story .left {
    background-color: #0d0a1b;
    background-size: contain;
    height: 400px;
  }
  footer h1 {
    font-size: 1rem;
  }
  .shift-down {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=Landing_Page_Styles.css.map */
