$primary: #f47321;
$bold: 700;

*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif, sans;
}

body {
    display: table;
    background-color: #35302A;
    font-size: 1.3rem;
}

header {
    position: sticky;
    top: 0;
    left: 0;

    .top-logo {
        display: flex;
        align-items: flex-end;
        position: absolute !important;
        top: 5px;
        left: 20px;
        z-index: 100;
    }

    .logo {
        width: 90px;
        height: 90px;
        background: url(Images/Logo.png);
        background-position: center;
        background-size: cover;
        background-color: rgb(210, 205, 205);
        border-radius: 50%;
    }

    h1 {
        font-weight: $bold;
        text-shadow: -2px -2px 0 #000, 2px -2px 2px #000, -2px 2px 0 #000, 2px 2px 0 #000;
        font-family: qirckCheese;
        margin-left: 1rem;
    }

    .side-nav {
        display: none;
        flex-direction: column;
        background-color: black;
        position: absolute;
        right: 0;
        top: 0;
        height: 120vh;
        width: 50vw;
        z-index: 9999;
        transition: 1s ease-out;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            border: solid red;
            cursor: pointer;
            width: 25px;
            height: 25px;
            margin: 1rem;
            padding: 2rem;
            font-size: 4rem;
            border: $primary solid;
            color: $primary;
            background: none;

            &:hover {
                background-color: gray;
            }
        }

        .side-nav__link-container {

            display: flex;
            flex-direction: column;
            padding: 1rem;

            a {
                cursor: pointer;
                text-decoration: none;
                color: $primary;
                font-weight: 700;
                font-size: 20px;
                padding: 0px 20px;
                border: none;
                background: none;
                font-size: 80%;
                margin-top: 2rem;

                &:hover {
                    opacity: 70%;
                }
            }
        }

        .logo {
            background-image: url(Images/Logo2.jpg);
            background-color: black;
            margin: auto auto;
            padding: 40%;
        }
    }
}


div.top {
    display: flex;
    flex-direction: row-reverse;
    background-color: #35302A;
    padding: 2rem;

    button.hamburger {
        margin: 0;
        padding: 0;
        width: 50px;
        height: 40px;
        margin-right: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        display: none;
        background: none;
        border: none;

        span {
            width: 50px;
            height: 4px;
            background-color: $primary;

            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
}

div.top button.order {
    padding: 20px;
    margin-right: 60px;
    opacity: 0;
}

div.nav-container {
    position: absolute;
    display: block;
    width: 100%;
}

.navbar {
    display: block;
    margin: 12px 10px;
    z-index: 1000;
    float: right !important;
    position: relative;

    ul {
        display: flex;
        list-style-type: none;

        li a,
        li button {
            cursor: pointer;
            text-decoration: none;
            color: $primary;
            font-weight: 700;
            font-size: 20px;
            padding: 0px 20px;
            border: none;
            background: none;
        }
    }
}

.navbar li a:hover,
.navbar button:hover {
    opacity: 70%;
    color: white;
}

.navbar li:not(:last-child),
.drop-down {
    border-right: 1px solid white;
}

.drop-down-container {
    position: absolute;

    .drop-down-list {
        position: relative;
        right: 25%;
        flex-direction: column;
        background: #585555;
        margin-top: 1rem;
        border-radius: 1rem;
        display: none;
        overflow: hidden;

        a {
            padding: 1.25rem;
            text-decoration: none;
            color: $primary;
            font-weight: 700;
            font-size: 20px;

            &:not(:last-child) {
                border-bottom: 1px solid black;
            }

            &:hover {
                background: gray;
            }
        }
    }
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

main {
    color: white;
    text-align: center;


    div.carousel {
        position: relative;
        background: #eee;
        width: 100%;
        height: auto;
        z-index: -1;

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            width: 100%;
            height: 243px;
            z-index: 1;
            background: url(https://bwr-production.s3.amazonaws.com/assets/slider-gradient-5e963f45eef6f353096413ea259890a07e9119619f643fc073418759199c78c4.png) repeat-x;
        }


        .carousel__track {
            position: relative;
            width: 100%;
            height: 80vh;
            padding: 0;

            .carousel__slide {
                width: 100%;
                height: 100%;
                background-color: black;
                overflow: hidden;
                position: absolute;
                top: 0;
                bottom: 0;
                transition: ease-in 1s;

                .carousel__text {
                    position: absolute;
                    top: 40%;
                    left: 0;
                    right: 0;
                    color: floralwhite;
                    font-weight: $bold;

                    h1 {
                        text-shadow: -2px -2px 0 #000, 2px -2px 2px #000, -2px 2px 0 #000, 2px 2px 0 #000;
                        margin-bottom: 1rem;
                    }

                    p {
                        text-shadow: -1px -1px 0 #000, 1px -1px 1px #000, -1px 1px 0 #000, 1px 1px 0 #000;
                    }
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }

        .carousel__nav {
            position: absolute;
            display: flex;
            bottom: 10%;
            left: 50%;

            .dot {
                border-radius: 50%;
                width: 20px;
                height: 20px;
                background: white;
                transition: ease-in 1s;
                border: black solid 2px;

                &:not(:last-child) {
                    margin-right: 10px;
                }

                &:hover {
                    cursor: pointer;
                    background-color: red;
                }
            }
        }
    }

    h3 {
        font-size: 2rem;
    }

    .menu-container {
        background-color: #35302A;

        h3 {
            color: $primary;
            font-weight: $bold;
            margin: 2rem 0;
        }
    }

    .card-container {
        background-color: #35302A;
        display: flex;
        flex-wrap: wrap;
        text-align: left;

        .card {
            flex: 33.33%;
            padding: 2rem;

            img {
                width: 100%;
                height: 500px;
            }
        }
    }
}

.appetizer-img {
    background-image: url(Images/Appetizer.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
}

.steak-img {
    background-image: url(Images/Steak.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
}

.wine-img {
    background-image: url(Images/Wine-and-Spirits.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
}

.salad-img {
    background-image: url(Images/Salad.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
}

.sandwhich-img {
    background-image: url(Images/Burgers.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
}

.dessert-img {
    background-image: url(Images/Dessert.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
}

.card h3 {
    color: #eb6d1e;
    margin: 10px 0px;
}


main button {
    border-radius: 2rem;
    font-size: 2rem;
    cursor: pointer;
    margin-bottom: 2rem;
    background: black;
    font-weight: 700;
    color: #f47321;
    border-color: #585555;
    width: 30%;
    padding: 2% 0px;
    margin: 2rem auto;

    &:hover {
        background-color: #35302A;
    }
}

.story {
    display: flex;
    width: 100%;
    min-height: 800px;

    img {
        max-width: 100%;
        margin-top: 100px;
    }

    .left,
    .right {
        width: 100%;
    }

    .left {
        color: white;
        background-color: gray;
        background-image: url(Images/Logo3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .right {
        background-image: url(Images/Interior.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #35302A;
    padding: 6rem;
    color: white;

    button {
        cursor: pointer;
    }

    ul {
        list-style-type: none;

        li {
            margin-bottom: 1rem;

            a {
                text-decoration: none;
                color: white;
                font-size: 2rem;

                &:hover {
                    color: #f47321;
                }
            }
        }
    }

    img {
        width: 50px;
        height: 50px;
    }


    .top-logo {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-left: 50%;
    }

    .logo {
        width: 180px;
        height: 180px;
        background: url(Images/logo5.png);
        background-position: center;
        background-size: cover;
        background-color: rgb(210, 205, 205);
        border-radius: 50%;
    }
}

/* Helper */
.border-bottom {
    border-bottom: #35302A solid 2px;
}

.show {
    display: flex !important;
}

.bg-white {
    background: rgb(88, 85, 85) !important;
}

.hidden {
    display: none !important;
}

.shift-down {
    transform: translateY(30px);

}

//Global
h1 {
    font-size: 4rem;
}

//Fonts
@font-face {
    font-family: qirckCheese;
    src: url(/Fonts/Quark-Cheese.png);
}

@media only screen and (max-width: 1099px) {
    div.top {
        padding: 0.5rem;

        button.hamburger {
            display: flex;
            z-index: 999;
        }
    }

    header navbar.navbar {
        display: none;
    }

    div.nav-container {
        padding: 1.5rem;
    }

    main {
        .card-container {
            background-color: #35302A;
            display: flex;
            flex-wrap: wrap;
            text-align: left;

            .card {
                flex: 50%;
                padding: 2rem;

                img {
                    width: 100%;
                    height: 500px;
                }
            }
        }
    }

    .story {
        display: flex;
        flex-direction: column-reverse;

        img {
            width: 100%;
        }

        .left,
        .right {
            width: 100%;
            height: 1200px;
        }
    }
}

@media only screen and (max-width: 800px) {

    header navbar.navbar {
        display: none;
    }

    div.nav-container {
        padding: 0rem;
    }

    header {
        position: sticky;
        top: 0;
        left: 0;

        .top-logo {
            top: 10px;
            left: 20px;
        }

        .logo {
            width: 40px;
            height: 40px;
        }

        h1 {
            font-size: 2rem;
            margin-left: 1rem;
        }
    }

    main {
        .card-container {
            background-color: #35302A;
            display: flex;
            flex-wrap: wrap;
            text-align: left;

            .card {
                flex: 100%;
                padding: 2rem;

                h3 {
                    font-size: 1.5rem;
                }

                img {
                    width: 100%;
                    height: 500px;
                }
            }
        }

        div.carousel {

            .carousel__track {
                position: relative;
                width: 100%;
                height: 500px;
                padding: 0;
            }

            .carousel__nav {
                display: none;
            }
        }
    }

    .story {
        .left {
            background-color: rgb(13, 10, 27);
            background-size: contain;
            height: 400px;
        }
    }

    footer {
        h1 {
            font-size: 1rem;
        }
    }

    .shift-down {
        transform: translateY(0px);
    }
}
