*,
*::after,
*::before {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif, sans;
}

body {
  display: table;
  background-color: #35302a;
  font-size: 1.3rem;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}

header .sticky-header {
  position: absolute;
  min-height: 5rem;
  width: 100%;
  z-index: 2;
  top: 0;
  left: 0;
}

header .sticky-header::before {
  content: "";
  position: absolute;
  z-index: 1;
  padding: 1.5rem;
  background: #585555;
  width: 100%;
}

header .sticky-header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 2rem;
  margin: 0;
  z-index: 100;
  float: left;
  height: 100%;
  width: 30%;
  font-weight: 700;
  color: #f47321;
  text-shadow: -1px -1px 0 #000, 1px -1px 1px #000, -1px 1px 0 #000,
 1px 1px 0 #000;
  font-family: fancyText;
  margin-left: 1rem;
  font-size: 4vw;
}

header .navbar {
  display: block;
  margin: 12px 10px;
  z-index: 1000;
  float: right !important;
  position: relative;
  margin-top: 5rem;
}

header .navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

header .navbar__list__item--inner, header .navbar__list__item--button {
  cursor: pointer;
  text-decoration: none;
  color: #f47321;
  font-weight: 700;
  font-size: 20px;
  padding: 0px 20px;
  border: none;
  background: none;
}

header .navbar__list__item--inner:hover, header .navbar__list__item--button:hover {
  color: white;
}

header .navbar__list__item--button:not(:last-child), header .navbar__list__item:not(:last-child) {
  border-right: 1px solid white;
}

header .side-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: black;
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 300vh;
  overflow: hidden;
  z-index: 9999;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}

header .side-nav__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 25px;
  height: 25px;
  margin: 1rem;
  padding: 2rem;
  font-size: 4rem;
  border: #f47321 solid;
  color: #f47321;
  background: none;
}

header .side-nav__button:hover {
  background-color: gray;
}

header .side-nav__link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

header .side-nav__link-container__item {
  cursor: pointer;
  text-decoration: none;
  color: #f47321;
  font-weight: 700;
  font-size: 20px;
  padding: 0px 20px;
  border: none;
  background: none;
  font-size: 80%;
  margin-top: 2rem;
}

header .side-nav__link-container__item:hover {
  opacity: 70%;
}

button.hamburger {
  float: right;
  margin: 1rem 2rem;
  width: 50px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background: none;
  border: none;
  z-index: 2;
  display: none;
}

button.hamburger span {
  width: 50px;
  height: 4px;
  background-color: #f47321;
}

button.hamburger span:not(:last-child) {
  margin-bottom: 10px;
}

.drop-down {
  position: absolute;
}

.drop-down__list {
  position: relative;
  right: 25%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #585555;
  margin-top: 1rem;
  border-radius: 1rem;
  display: none;
  overflow: hidden;
}

.drop-down__list__item {
  padding: 1.25rem;
  text-decoration: none;
  color: #f47321;
  font-weight: 700;
  font-size: 20px;
}

.drop-down__list__item:not(:last-child) {
  border-bottom: 1px solid black;
}

.drop-down__list__item:hover {
  background: gray;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

main {
  color: white;
  text-align: center;
}

main .carousel {
  position: relative;
  background: #eee;
  width: 100%;
  height: auto;
  z-index: -1;
}

main .carousel::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 243px;
  z-index: 1;
  background: url(https://bwr-production.s3.amazonaws.com/assets/slider-gradient-5e963f45eef6f353096413ea259890a07e9119619f643fc073418759199c78c4.png) repeat-x;
}

main .carousel__track {
  position: relative;
  width: 100%;
  height: 80vh;
  padding: 0;
}

main .carousel__slide {
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  -webkit-transition: ease-in 1s;
  transition: ease-in 1s;
}

main .carousel__text {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  color: floralwhite;
  font-weight: 700;
}

main .carousel__title {
  margin-bottom: 1rem;
}

main .carousel__caption, main .carousel__title {
  text-shadow: -1px -1px 0 #000, 1px -1px 1px #000, -1px 1px 0 #000,
 1px 1px 0 #000;
}

main .carousel__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

main .carousel__nav {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 10%;
  left: 50%;
}

main .carousel__dot {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: white;
  -webkit-transition: ease-in 1s;
  transition: ease-in 1s;
  border: black solid 2px;
}

main .carousel__dot:not(:last-child) {
  margin-right: 10px;
}

main .carousel__dot:hover {
  cursor: pointer;
  background-color: red;
}

.menu-header {
  background-color: #35302a;
}

.menu-header__title {
  font-size: 2rem;
  color: #f47321;
  font-weight: 700;
  margin: 2rem 0;
}

.menu-header__caption {
  color: whitesmoke;
}

.menu-container {
  background-color: #35302a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
}

.menu-container .card {
  -webkit-box-flex: 33.33%;
      -ms-flex: 33.33%;
          flex: 33.33%;
  min-width: 400px;
  padding: 2rem;
}

.menu-container .card__image {
  width: 100%;
  max-height: auto;
  height: 500px;
  -o-object-position: center;
     object-position: center;
  overflow: hidden;
}

.menu-container .card__title {
  color: #eb6d1e;
  margin: 10px 0px;
}

main button {
  border-radius: 2rem;
  font-size: 2rem;
  cursor: pointer;
  padding: 1rem;
  margin-bottom: 2rem;
  background: black;
  font-weight: 700;
  color: #f47321;
  border-color: #585555;
  margin: 2rem auto;
}

main button:hover {
  background-color: #35302a;
}

.story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 800px;
}

.story__logo, .story__img {
  width: 100%;
}

.story__logo {
  color: white;
  background-color: gray;
  background-image: url(Images/Logo3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.story__img {
  background-image: url(Images/Interior.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #35302a;
  padding: 6rem;
  color: white;
}

footer .contact-info__list {
  list-style-type: none;
}

footer .contact-info__list__item {
  margin-bottom: 1rem;
}

footer .contact-info__list__item--inner {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

footer .contact-info__list__item--inner:hover {
  color: #f47321;
}

footer img {
  width: 50px;
  height: 50px;
}

footer .footer-flair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-flair__logo {
  width: 180px;
  height: 180px;
  background: url(Images/logo5.png);
  background-position: center;
  background-size: cover;
  background-color: #d2cdcd;
  border-radius: 50%;
}

footer .footer-flair__title {
  color: #eb6d1e;
  font-family: fancyText;
  text-shadow: -1px -1px 0 #000, 1px -1px 1px #000, -1px 1px 0 #000,
 1px 1px 0 #000;
}

/* Helper */
.border-bottom {
  border-bottom: #35302a solid 2px;
}

.show {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.bg-dark {
  background: #585555 !important;
  border-bottom: solid #000 2px;
}

.hidden {
  display: none !important;
}

.shift-down {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

h1 {
  font-size: 4rem;
}

@font-face {
  font-family: fancyText;
  src: url(Fonts/SCRIPTIN.ttf);
}

@media only screen and (max-width: 1099px) {
  .sticky-header::before {
    content: none !important;
  }
  .navbar {
    display: none;
  }
  main .menu-container {
    background-color: #35302a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: left;
  }
  main .menu-container .card {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    padding: 2rem;
  }
  .story {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .story .story__img {
    width: 100%;
  }
  .story .story__logo,
  .story .story__img {
    width: 100%;
    height: 1200px;
  }
}

@media only screen and (max-width: 870px) {
  header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
  }
  header .navbar {
    display: none;
  }
  header button.hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 999;
  }
  main .menu-container {
    background-color: #35302a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: left;
  }
  main .menu-container .card {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    padding: 2rem;
  }
  main .menu-container .card__title {
    font-size: 1.5rem;
  }
  main div.carousel__track {
    position: relative;
    width: 100%;
    height: 500px;
    padding: 0;
  }
  main div.carousel__nav {
    display: none;
  }
  .story__logo {
    background-color: #0d0a1b;
    background-size: contain;
    height: 400px;
  }
  .footer-flair__title {
    font-size: 1rem;
  }
  .shift-down {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=Landing_Page_Styles.css.map */
